<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section type="System.Configuration.NameValueSectionHandler" name="TestRunner" />
    </sectionGroup>
  </configSections>

  <NUnit>
    <TestRunner>
      <add value="STA" key="ApartmentState" />
    </TestRunner>
  </NUnit>
</configuration>